@media screen {

/*GENERAL*/
* {
    margin: 0;
    padding: 0;} /*insert *{border: 1px solid red;} to highlight all css elements*/
body {
    font: 75%/1.3 Arial, Helvetica, sans-serif;}
.background-img {
    position: fixed;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    border: none;}

/*WRAPPER*/
#wrapper {
    width: 960px;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    margin: 123px auto 0 auto;}

/*NAVIGATION*/
nav ul {
    border-radius: 10px 10px 0 0;
    list-style-type: none;
    height: 55px;
    background-color: #347E03;}
nav li {
    float: left;
    border-right: 1px dotted #333;}
nav a {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFF;
    padding: 18px 22px;
    text-decoration: none;}

/*MAIN*/
article {
    width: 608px;
    margin: 30px 0 0 20px;}
h2 {
    color: #CDCCCA;
    font-size: 1.2em;}
p {
    color: #CDCCCA;
    line-height: 25px;}
img {
    float: left;
    margin: 15px 10px 0 10px;
    padding: 5px;
    border: 1px solid #CDCCCA;}
.buttons {
    float: right;
    margin: 5px 10px;
    padding: 5px 16px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #347E03;
    border-radius: 3px;
    border: none;}
.rightsidelinks {
    position: absolute;
    top: 200px;
    margin: 0 675px;}
.rightsidelinks h2 {
    color: #FFF;
    font-size: 1.3em;}
.rightsidelinks ul {
    margin: 20px 20px;
    color: #CDCCCA;
    line-height: 35px;
    list-style-type: circle;}
.rightsidelinks li {
    width: 230px;}
.rightsidelinks a {
    display: block;
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid #FFF;}
.pp-img {
    margin: 18px -15px;
    width: 80px;}
.pp-img a {
    border: none;}
.pp-a {
    margin: 40px 70px;
    width: 200px;
    line-height: 11px;
    list-style-type: none;}
.pp-a a {
    border: none;}
.pp-a span {
    color: #CDCCCA;
    font-style: italic;}
.pagination ul {
    clear: right;
    margin: 60px 0 21px auto;
    text-align: center;}
.pagination li {
    margin: 0 3px;
    display: inline;}
.pagination a {
    font-weight: bold;
    color: #333;
    padding: 3px 7px;
    text-decoration: none;
    background-color: #FFF;
    border-radius: 3px;}
.pagination a.active {
    background-color: #347E03;
    color: #FFF;
    border-radius: 3px;}

/*FOOTER*/
footer p {
    text-align: center;
    padding: 15px 0;
    height: 20px;
    color: #FFF;
    border-radius: 0 0 10px 10px;
    background-color: #347E03;
    }
} /*end @media*/



@media screen and (min-width: 1000px) and (max-width: 1500px) {
/*TABLET LANDSCAPE MODE*/
/*GENERAL*/
.background-img {
    display: none;}

/*WRAPPER*/
#wrapper {
    margin: 0 auto;
    width: 960px;}
.rightsidelinks {
    top: 100px;}
} /*end @media*/



@media screen and (min-width: 800px) and (max-width: 1000px) {
/*TABLET PORTRAIT MODE*/
/*GENERAL*/
.background-img {
    display: none;}

/*WRAPPER*/
#wrapper {
    margin: 0 auto;
    width: 768px;}

/*MAIN*/
.rightsidelinks {
    position: static;
    margin: 70px 15px}
.mediaqueryremoval {
    display: none;}
} /*end @media*/



@media screen and (max-width: 800px) {
/*PHONE*/
/*GENERAL*/
.background-img {
    display: none;}

/*WRAPPER*/
#wrapper {
    margin: 0 auto;
    width: 479px;}

/*NAVIGATION*/
nav ul {
    height: 285px;}
nav li {
    float: none;
    border-bottom: 2px solid #333;}
nav a {
    font-size: 1em;
    padding: 18px 10px;}

/*MAIN*/
article {
    width: 415px;
    margin: 30px 0 0 10px;}
img {
    display: none;}
.rightsidelinks {
    display: none;}
} /*end @media*/
